*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    border: 1px dotted #F56400;
 }

.image{
  //width: 250px;
  //height: 200px;
}

header{
  border-bottom: 1px solid #E1E3DF;
  height: 75px;
}

div ul{
  list-style-type: none;
  background-color: #FFFFFF;
  width: 100%;
  margin-left:3%;
  padding: 12px;
  border: 1px solid #E1E3DF;
}

div li{
  font-size: 13px;
  color: #0197BF;
  padding-top: 5px;
  padding-left: 9px;
  padding-bottom: 5px;
  letter-spacing: .3px;
}

nav ul{
  list-style-type: none;
  border-bottom: 1px solid #E1E3DF;
  padding-bottom: 13px;
  margin-bottom: 0px;
  font-size: 13px;
}

nav li{
  display: inline-block;
  color: #847777;
  padding-right: 19px;
  padding-left: -5px;
}

.main{
  background-color: #FAF9F5;
  position: relative;
}

.logo{
  display: inline-block;
  color: #F56400;
  font-size: 30px;
  margin-top: 15px;
  padding-left: 2%;
  padding-right: 2.3%;
}

.input{
  height: 30px;
  width: 27%;
  border: 1px solid #E1E3DF;
}

header span{
  color: #0192B5;
  padding-left: 1.5%;
  font-size: 14px;
}

.sign-in{
  border: 1px solid #0192B5;
  padding: 6px;
  margin-left: 2%;
}

.search {
  padding: 6px 9px;
  margin-right: 25%;
  background-color: #34A8C4;
  color: white;
  font-size: 14px;
}

#over-results{
  height: 56px;
}

div span{
  font-size: 13px;
  padding-top: 5px;
  padding-left: 9px;
  padding-bottom: 5px;
  letter-spacing: .3px;
}

.l-menu{
  width: 20%;
  display: inline-block;
  position: absolute;
  top: 49px;

}

.results {
  width: 75%;
  display: inline-block;
  margin-left: 25%;
}

.image-container{
  display:inline-block;
  padding: 10px;
}

.caption{
  width: 230px;
  font-size: 12px;
  letter-spacing: .2px;
}

.seller{
  display: inline-block;
  font-size: 12px;
  letter-spacing: .2px;
}

.p-code{
  display: inline-block;
  font-size: 12px;
  letter-spacing: .2px;
  text-align: right;
}

.price{
  display: inline-block;
  font-size: 12px;
  letter-spacing: .2px;
  text-align: right;
}
